apiVersion: v2
version: latest
type: VS Code extension
name: rhamt-demo
displayName: Migration Toolkit
title: Migration Toolkit for Applications (MTA)
description: Migration Toolkit for Applications (MTA)
icon: http://{{ wzh_web_server }}/ccn/logo-eclipseche.svg
publisher: ccn
repository: https://raw.githubusercontent.com/windup/rhamt-che-demo/master/meta.yaml
category: Other
firstPublicationDate: "2020-09-03"
spec:
  endpoints:
  - name: "configuration-endpoint"
    public: true
    targetPort: 61436
    attributes:
      protocol: http
  - name: "report-endpoint"
    public: true
    targetPort: 61435
    attributes:
      protocol: http
  containers:
    - image: "docker.io/wangzheng422/imgs:mta-vscode-extension.base-2020-12-30-1340"
      name: rhamt-extension
      mountSources: true
      ports:
        - exposedPort: 61436
        - exposedPort: 61435
      volumes:
        - name: rhamt-vscode
          mountPath: "/home/theia/home/theia/redhat.mta-vscode-extension"
  extensions:
    - http://{{ wzh_web_server }}/ccn/mta-vscode-extension.vsix